<article class="card cell has-background-link-light">
  <div class="card-image">
    <img
      class="image is-5by4"
      src="https://cdn2.thecatapi.com/images/{{ meow.reference_image_id }}.jpg"
      alt="Photo of {{ meow.name }}"
    />
  </div>
  <div
    class="card-content is-flex is-flex-direction-column is-align-content-space-between"
  >
    <h3 class="title is-size-4 has-text-link-65 has-text-weight-semibold pb-3">
      {{ meow.name }}
    </h3>
    <p class="is-size-6 has-text-text-40 pb-2 ellipsis">
      {{ meow.description }}
    </p>
    <p class="is-size-6 has-text-text-40 has-text-weight-semibold">
      Temperament:
    </p>
    <p class="is-size-6 has-text-text-40 pb-2">{{ meow.temperament }}</p>
    <p class="is-size-6 has-text-text-40 has-text-weight-semibold">Origin:</p>
    <p class="is-size-6 has-text-text-40 pb-2">{{ meow.origin }}</p>
    <a
      class="link-color is-size-6 has-text-weight-semibold"
      [href]="meow.wikipedia_url"
      target="_blank"
    >
      Learn more
    </a>
  </div>
</article>
