<section class="section">
  <div
    class="container has-background-link-light is-max-tablet is-flex is-justify-content-center p-6"
  >
    <form [formGroup]="loginForm" (submit)="submit()">
      <header class="has-text-centered pb-6">
        <h1 class="title is-size-1 has-text-link has-text-weight-bold">
          Login
        </h1>
      </header>
      <div class="is-flex is-flex-direction-column">
        <label for="email" class="has-text-text-40">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="input-border"
        />
      </div>
      <div class="is-flex is-flex-direction-column">
        <label for="password" class="has-text-text-40">Password</label>
        <input
          id="password"
          type="password"
          pattern=".{8,}"
          formControlName="password"
        />
      </div>
      <div class="container pt-5">
        <button type="submit" class="button is-link is-rounded">Log In</button>
      </div>
    </form>
  </div>
</section>
