<main>
  <header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="navbar-start">
            <img class="navbar-item image is-128x128 is-rounded" src="/catalog6.png" alt="logo" aria-hidden="true">
        </div>
        <div class="navbar-end">
          <a class="navbar-item">
              <img class="image is-32x32 is-rounded" src="https://avatar.iran.liara.run/public" alt="perfil de usuario">
            </a>
        </div>
      </div>
    </nav>
  </header>
  <section class="container">
    <app-dashboard></app-dashboard>
  </section>
</main>
