<app-navbar />
<section class="section">
  <div class="container pb-6">
    <h1 class="is-size-1 has-text-weight-bold">Profile</h1>
  </div>
  <div
    class="card-rounded container has-background-link-light is-max-tablet is-flex is-flex-direction-column is-justify-content-center is-align-items-center p-6"
  >
    <div class="is-flex is-justify-content-center pb-5">
      <img
        class="image is-96x96 rounded"
        src="https://api.dicebear.com/9.x/fun-emoji/svg?seed={{ email }}"
        alt="avatar"
      />
    </div>
    <div class="is-size-5 is-flex is-gap-1">
      <label class="has-text-text-40">User: </label>
      <p class="has-text-text-40 has-text-weight-semibold">{{ email }}</p>
    </div>
  </div>
</section>
