<app-navbar />
<section class="hero is-medium has-background-link-light">
  <div class="hero-body">
    <div
      class="container is-flex is-justify-content-space-around is-flex-wrap-wrap is-max-fullhd"
    >
      <div class="is-align-content-center">
        <h1 class="title is-size-2 has-text-text-40 has-text-weight-light pb-5">
          Welcome to <br />
          <span class="title is-size-1 has-text-link-65 has-text-weight-bold"
            >Cat-a-Log</span
          >
        </h1>
        <h3 class="subtitle is-size-3 has-text-text-45 has-text-light pb-5">
          Your daily dose of cattitude.
        </h3>
      </div>
      <figure class="is-flex is-justify-content-center">
        <img
          class="image is-4by5"
          width="310px"
          src="/heroes.png"
          alt="catalog cat"
        />
      </figure>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title is-size-2 pb-4">Meowpedia</h2>
    <h3 class="subtitle is-size-4 pb-6">
      Get to know the different breeds of your furry friends!
    </h3>
    <div *ngIf="loading" class="is-size-2 is-text-warning">Loading...</div>
    <div
      *ngIf="!loading && meowpedia.length > 0; else noMeows"
      class="container grid is-gap-2 is-col-min-11"
    >
      <div *ngFor="let meow of meowpedia">
        <app-meow [meow]="meow"></app-meow>
      </div>
    </div>
    <ng-template #noMeows>
      <div class="is-flex is-justify-content-center">
        <h2 class="subtitle">No meows available.</h2>
      </div>
    </ng-template>
  </div>
</section>
